/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  max-width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40 h1 {
  font-size: 20px;
  color: #E84A5F;

}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
  padding-bottom: 0px;
  padding-top: 10px;

}

.col-60 {
  background: #E84A5F;

}

#flecha{
  font-size: 50px;
}

.texto-centrado {
  text-align: center;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
  
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#juego{
  width: 600px;
  height: 600px;
  overflow: hidden;
}

#juego::after{
  content: "";
  display: block;
  clear: both;
}

.piezas div img{
  width: 33%;

}

img{
  float: left;
  margin: 1px;
}

#objetivo img{
  width: 100%;
  height: auto;
}

#pieza9 img{
  opacity: 0;
}

#timer{
  text-align: center;
  font-size: 2em;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

#timer::before{
  content:"🕒 ";
}
#ga{
  font-size: 4em;
  border: 1px solid;
  margin: 10px 0px;
  padding:55px 50px 55px 50px;
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #4F8A10;
  background-color: #DFF2BF;
  display: none;
  z-index: 999;
}

#cierre{
  position: fixed;
  top: -10px;
  right: 5px;
  cursor: pointer;
  font-size: 0.7em;
}
